extends ../../layouts/layout_main.pug
block container
  .page-title
    .title_right
  .clearfix
  .row
    .col-md-12
      .x_panel
        .x_title
          h2 Editar información del compromiso
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          form#frmregisterCommit.form-horizontal(action='/secure/updateCommit', method='post')
            input#comdata(type='hidden', name='comdata')

            each config in commitmentconfig
              case config.t_commitment_config_id
                when 'CM01'
                  input(type='hidden', name=config.columnasoc, value=commitment[config.columnasoc])
                when 'CM09'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM10'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM11'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM12'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Temporalidad:
                    .col-sm-2
                      select#temporalidad.form-control(name=config.columnasoc, value=commitment[config.columnasoc]) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Puntual', selected= commitment[config.columnasoc] == 'Puntual') Puntual
                        option(value='Permanente', selected= commitment[config.columnasoc] == 'Permanente') Permanente

                when 'CM13'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Fecha de Inicio:
                    .col-sm-2 
                      .form-group
                        #fechainicio.input-group.date
                          input.form-control(type='text', name=config.columnasoc) 
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 

                when 'CM14'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Frecuencia 
                      span.required *
                    .col-sm-2
                      select#frecuencia.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Unica', selected= commitment[config.columnasoc] == 'Unica') Unica
                        option(value='Diaria', selected= commitment[config.columnasoc] =='Diaria') Diaria
                        option(value='Semanal', selected= commitment[config.columnasoc] =='Semanal') Semanal
                        option(value='Mensual', selected= commitment[config.columnasoc] =='Mensual') Mensual
                        option(value='Trimestral', selected= commitment[config.columnasoc] =='Trimestral',) Trimestral
                        option(value='Semestral', selected= commitment[config.columnasoc] =='Semestral') Semestral
                        option(value='Anual', selected= commitment[config.columnasoc] =='Anual') Anual
                        option(value='Continuo', selected= commitment[config.columnasoc] =='Continuo') Continuo
                        option(value='Indefinido', selected= commitment[config.columnasoc] =='Indefinido') Indefinido 

                when 'CM15'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id) 
                      | Criticidad 
                      span.required *
                    .col-sm-2
                      select#criticidad.form-control(name=config.columnasoc)
                        option(value='None', selected= true) Seleccionar..
                        option(value='Alto', selected= commitment[config.columnasoc] =='Alto') Alto
                        option(value='Medio', selected= commitment[config.columnasoc] =='Medio') Medio
                        option(value='Bajo', selected= commitment[config.columnasoc] =='Bajo') Bajo
                when 'CM16'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Tipo de evidencia 
                      span.required *
                    .col-sm-2
                      select#tipoevidencia.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Manual', selected= commitment[config.columnasoc] =='Manual') Manual
                        option(value='Fisica', selected= commitment[config.columnasoc] =='Fisica') Física

                when 'CM17'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Evidencias de cumplimiento 
                      span.required *
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-12(id='filesize', name=config.columnasoc, type='text')
                      a(href='', onclick="openDialogBox('fileID').....")
                      input(id='fs',type='file', multiple='', onchange='fsize()')   

                when 'CM18'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Estado del compromiso 
                      span.required *
                    .col-sm-2
                      select#estadocommit.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Abierto', selected= commitment[config.columnasoc] =='Abierto') Abierto
                        option(value='Cerrado', selected= commitment[config.columnasoc] =='Cerrado') Cerrado
                        option(value='Proceso', selected= commitment[config.columnasoc] =='Proceso') En proceso
                        option(value='Cancelado', selected= commitment[config.columnasoc] =='Cancelado') Cancelado                        
                        option(value='Diferido', selected= commitment[config.columnasoc] =='Diferido') Diferido
                        option(value='Vencido', selected= commitment[config.columnasoc] =='Vencido') Vencido   

                when 'CM19'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Acción sobre el compromiso 
                      span.required *
                    .col-sm-2
                      select#accioncompromiso.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Si', selected= commitment[config.columnasoc] =='Si') Si
                        option(value='No', selected= commitment[config.columnasoc] =='No') No

                when 'CM21'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Frecuencia propuesta de verificación 
                      span.required *
                    .col-sm-2
                      select#frecuenciaverif.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Unica', selected= commitment[config.columnasoc] == 'Unica') Unica
                        option(value='Diaria', selected= commitment[config.columnasoc] =='Diaria') Diaria
                        option(value='Semanal', selected= commitment[config.columnasoc] =='Semanal') Semanal
                        option(value='Mensual', selected= commitment[config.columnasoc] =='Mensual') Mensual
                        option(value='Trimestral', selected= commitment[config.columnasoc] =='Trimestral',) Trimestral
                        option(value='Semestral', selected= commitment[config.columnasoc] =='Semestral') Semestral
                        option(value='Anual', selected= commitment[config.columnasoc] =='Anual') Anual
                        option(value='Continuo', selected= commitment[config.columnasoc] =='Continuo') Continuo
                        option(value='Indefinido', selected= commitment[config.columnasoc] =='Indefinido') Indefinido 

                when 'CM23'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id, style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder='example@gmail.com,hotmail@outlook.com', type='email', name=config.columnasoc, multiple, value=commitment[config.columnasoc]) 
                when 'CM26'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.id)
                      | Fecha de verificación:
                    .col-sm-2 
                      .form-group
                        #fechaverif.input-group.date
                          input.form-control(type='text', name=config.columnasoc) 
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 

                when 'CM29'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM30'
                  .form-group
                  tr
                  td
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.id,style='cursor: pointer')  #{config.name}
                  td
                    if commitment[config.columnasoc] == 'Si'
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc, checked='checked')
                    else
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc)
                  .row
                when 'CM31'
                  .form-group
                  tr
                  td
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.id,style='cursor: pointer')  #{config.name}
                  td
                    if commitment[config.columnasoc] == 'Si'
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc, checked='checked')
                    else
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc)
                  .row
                when 'CM32'
                  .form-group
                  tr
                  td
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.id,style='cursor: pointer')  #{config.name}
                  td
                    if commitment[config.columnasoc] == 'Si'
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc, checked='checked')
                    else
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc)
                  .row
                when 'CM33'
                  .form-group
                  tr
                  td
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.id,style='cursor: pointer')  #{config.name}
                  td
                    if commitment[config.columnasoc] == 'Si'
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc, checked='checked')
                    else
                      input.flat(id=config.id,type='checkbox', value=config.id, name=config.columnasoc)
                  .row
                default
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc, value=commitment[config.columnasoc]) 
            .ln_solid
            .form-group
              a.btn.btn-default.btn-sm(href='/secure/listall') Cancelar
              button.btn.btn-success.btn-sm.pull-right(type='submit') Editar compromiso
  script(src='/jquery/dist/jquery.min.js')
  script(src='/moment/min/moment.min.js')
  script(src='/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  script.
    $('#fechainicio').datetimepicker({
      defaultDate: new Date(),
      format: 'DD/MM/YYYY'
      
    });
    $('#fechaverif').datetimepicker({
      defaultDate: new Date(),
      format: 'DD/MM/YYYY'
    });
    
    $( 'input' ).change(function() {
      var tmp = ((tmpval = $('#comdata').val()) == '') ? tmpval : tmpval + ',';
      $('#comdata').val(tmp + this.name);
      console.log('comdata modificado',comdata);
      
    });
    

