extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Editar información del compromiso
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          - var evidencias = true
          form#frmeditCommit.form-horizontal(action='/secure/updateCommit/' + commitment.nrocorrelativo, method='post',enctype='multipart/form-data')
            input#comdata(type='hidden', name='comdata')

            each config in commitmentconfig
              case config.t_commitment_config_id
                when 'CM01'
                  input(type='hidden', name=config.columnasoc, value=commitment[config.columnasoc])
                when 'CM09'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM10'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM11'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}

                when 'CM12'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Temporalidad:
                    .col-sm-2
                      select#temporalidad.form-control(name=config.columnasoc, value=commitment[config.columnasoc]) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Puntual', selected= commitment[config.columnasoc] == 'Puntual') Puntual
                        option(value='Permanente', selected= commitment[config.columnasoc] == 'Permanente') Permanente

                when 'CM13'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.t_commitment_config_id)
                      | Fecha de Inicio:
                    .col-sm-2 
                      .form-group
                        #fechainicio.input-group.date
                          input.form-control(type='text', name=config.columnasoc, value=commitment[config.columnasoc]) 
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 

                when 'CM14'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia 
                      span.required *
                    .col-sm-2
                      select#frecuencia.form-control(name=config.columnasoc)
                        option(value='None', selected= true) Seleccionar..
                        option(value='Unica', selected= commitment[config.columnasoc] == 'Unica') Unica
                        option(value='Diaria', selected= commitment[config.columnasoc] =='Diaria') Diaria
                        option(value='Semanal', selected= commitment[config.columnasoc] =='Semanal') Semanal
                        option(value='Mensual', selected= commitment[config.columnasoc] =='Mensual') Mensual
                        option(value='Trimestral', selected= commitment[config.columnasoc] =='Trimestral',) Trimestral
                        option(value='Semestral', selected= commitment[config.columnasoc] =='Semestral') Semestral
                        option(value='Anual', selected= commitment[config.columnasoc] =='Anual') Anual
                        option(value='Continuo', selected= commitment[config.columnasoc] =='Continuo') Continuo
                        option(value='Indefinido', selected= commitment[config.columnasoc] =='Indefinido') Indefinido 

                when 'CM15'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Criticidad 
                      span.required *
                    .col-sm-2
                      select#criticidad.form-control(name=config.columnasoc)
                        option(value='None', selected= true) Seleccionar..
                        option(value='Alto', selected= commitment[config.columnasoc] =='Alto') Alto
                        option(value='Medio', selected= commitment[config.columnasoc] =='Medio') Medio
                        option(value='Bajo', selected= commitment[config.columnasoc] =='Bajo') Bajo
                when 'CM16'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12(for=config.t_commitment_config_id)
                      | Evidencias
                    .col-md-6.col-sm-6.col-xs-12
                      .row
                        .col-md-12
                          textarea.form-control.col-md-12(id=config.t_commitment_config_id, placeholder='Ingrese una evidencia textual o comentario sobre las evidencias físicas', type='text', name='evidencia_descripcion')
                      .row
                        .col-md-12
                          input#template.inputfile.inputfile-6(type='file',name=config.columnasoc,data-multiple-caption='{count} archivos seleccionados',multiple)
                          label#evidencias(for='template',width='100%', style='margin-top: 10px')
                            span
                            strong
                              i.fa.fa-upload
                              |  Evidencias

                when 'CM17'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Estado del compromiso 
                      span.required *
                    .col-sm-2
                      select#estadocommit.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Abierto', selected= commitment[config.columnasoc] =='Abierto') Abierto
                        option(value='Cerrado', selected= commitment[config.columnasoc] =='Cerrado') Cerrado
                        option(value='Proceso', selected= commitment[config.columnasoc] =='Proceso') En proceso
                        option(value='Cancelado', selected= commitment[config.columnasoc] =='Cancelado') Cancelado                        
                        option(value='Diferido', selected= commitment[config.columnasoc] =='Diferido') Diferido
                        option(value='Vencido', selected= commitment[config.columnasoc] =='Vencido') Vencido   

                when 'CM18'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Acción sobre el compromiso 
                      span.required *
                    .col-sm-2
                      select#accioncompromiso.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Si', selected= commitment[config.columnasoc] =='Si') Si
                        option(value='No', selected= commitment[config.columnasoc] =='No') No

                when 'CM20'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia propuesta de verificación 
                      span.required *
                    .col-sm-2
                      select#frecuenciaverif.form-control(name=config.columnasoc) 
                        option(value='None', selected= true) Seleccionar..
                        option(value='Unica', selected= commitment[config.columnasoc] == 'Unica') Unica
                        option(value='Diaria', selected= commitment[config.columnasoc] =='Diaria') Diaria
                        option(value='Semanal', selected= commitment[config.columnasoc] =='Semanal') Semanal
                        option(value='Mensual', selected= commitment[config.columnasoc] =='Mensual') Mensual
                        option(value='Trimestral', selected= commitment[config.columnasoc] =='Trimestral',) Trimestral
                        option(value='Semestral', selected= commitment[config.columnasoc] =='Semestral') Semestral
                        option(value='Anual', selected= commitment[config.columnasoc] =='Anual') Anual
                        option(value='Continuo', selected= commitment[config.columnasoc] =='Continuo') Continuo
                        option(value='Indefinido', selected= commitment[config.columnasoc] =='Indefinido') Indefinido 

                when 'CM22'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id, style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder='example@gmail.com,hotmail@outlook.com', type='email', name=config.columnasoc, multiple, value=commitment[config.columnasoc]) 
                when 'CM25'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Fecha de verificación:
                    .col-sm-2 
                      .form-group
                        #fechaverif.input-group.date
                          input.form-control(type='text', name=config.columnasoc, value=commitment[config.columnasoc]) 
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 

                when 'CM28'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) #{commitment[config.columnasoc]}
                when 'CM29'
                when 'CM30'
                when 'CM31'
                when 'CM32'
                  if evidencias
                    .form-group
                      label.control-label.col-md-3.col-sm-6.col-xs-12 Etapas
                      .col-md-6.col-sm-6.col-xs-12
                        .checkbox(style='padding-top:0px')
                          label
                            if commitment.construccion == 'Si'
                              input.flat(id='construccion',type='checkbox', value='CM29', name='construccion', checked='checked')
                            else
                              input.flat(id='construccion',type='checkbox', value='CM29', name='construccion')
                            |  Construcción
                        .checkbox(style='padding-top:0px')
                          label
                            if commitment.operacion == 'Si'
                              input.flat(id='operacion',type='checkbox', value='CM30', name='operacion', checked='checked')
                            else
                              input.flat(id='operacion',type='checkbox', value='CM30', name='operacion')
                            |  Operación
                        .checkbox(style='padding-top:0px')
                          label
                            if commitment.cierre == 'Si'
                              input.flat(id='cierre',type='checkbox', value='CM31', name='cierre', checked='checked')
                            else
                              input.flat(id='cierre',type='checkbox', value='CM31', name='cierre')
                            |  Cierre
                        .checkbox(style='padding-top:0px')
                          label
                            if commitment.postcierre == 'Si'
                              input.flat(id='postcierre',type='checkbox', value='CM32', name='postcierre', checked='checked')
                            else
                              input.flat(id='postcierre',type='checkbox', value='CM32', name='postcierre')
                            |  Post - Cierre
                    - evidencias = false
                default
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc, value=commitment[config.columnasoc]) 
            .ln_solid
            .form-group
              a.btn.btn-default.btn-sm(href='/secure/listall') Cancelar
              button.btn.btn-success.btn-sm.pull-right(type='submit') Guardar compromiso
  script(src='/jquery/dist/jquery.min.js')
  script(src='/moment/min/moment-with-locales.min.js')
  script(src='/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  script.
    window.onload = function() {
      $('#comdata').val('');
      $('input[type=checkbox]').on('ifChanged',function(event){
        var comdata = validateinfo(this.name);
        $('#comdata').val(comdata);
      });
    }
    if($('#fechainicio')){
      $('#fechainicio').datetimepicker({
        defaultDate: new Date(),
        format: 'DD/MM/YYYY',
        locale: 'es'
      });
      $('#fechainicio').on('dp.change', function(e){ 
        var comdata = validateinfo('fechainicio');
        $('#comdata').val(comdata);
      });
    }
    if($('#fechaverif')){
      $('#fechaverif').datetimepicker({
        defaultDate: new Date(),
        format: 'DD/MM/YYYY',
        locale: 'es'
      });
      $('#fechaverif').on('dp.change', function(e){
        var comdata = validateinfo('fechaverif');
        $('#comdata').val(comdata);
      });
    }
    $('input[type=text]').change(function() {
      var comdata = validateinfo(this.name);
      $('#comdata').val(comdata);
    });
    $('select').change(function(){
      var comdata = validateinfo(this.name);
      $('#comdata').val(comdata);
    });
    $('textarea').change(function() {
      var comdata = validateinfo(this.name);
      $('#comdata').val(comdata);
    });
    
    function validateinfo(value){
      var comdata = $('#comdata').val();
      if (comdata.indexOf(value) == -1) {
        comdata = (comdata == '') ? comdata + value : comdata + ',' + value;
      }
      return comdata;
    }

