extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Información del compromiso
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          - var evidencias = true
          form#frmregisterCommit.form-horizontal(action='/secure/register',method='post',enctype='multipart/form-data')
            each config in commitmentconfig
              case config.t_commitment_config_id
                when 'CM01'
                  input(id=config.t_commitment_config_id, type='hidden', name=config.columnasoc)
                when 'CM09'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc)

                when 'CM10'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc)

                when 'CM11'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc)

                when 'CM12'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Temporalidad
                    .col-sm-2 
                      select#temporalidad.form-control(name=config.columnasoc)
                        option(value='None') Seleccionar..
                        option(value='Puntual') Puntual
                        option(value='Permanente') Permanente

                when 'CM13'
                  .form-group(style='margin-bottom: 0px')
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Fecha de Inicio
                    .col-sm-2 
                      .form-group
                        #fechainicio.input-group.date(style='margin-bottom: 0px')
                          input.form-control(type='text', name=config.columnasoc)
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 
                when 'CM14'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia 
                      span.required *
                    .col-sm-2
                      select#frecuencia.form-control(name=config.columnasoc)
                        option(value='None') Seleccionar..
                        option(value='Unica') Unica
                        option(value='Diaria') Diaria
                        option(value='Semanal') Semanal
                        option(value='Mensual') Mensual
                        option(value='Trimestral') Trimestral
                        option(value='Semestral') Semestral
                        option(value='Anual') Anual
                        option(value='Continuo') Continuo
                        option(value='Indefinido') Indefinido 

                when 'CM15'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Criticidad 
                      span.required *
                    .col-sm-2
                      select#criticidad.form-control(name=config.columnasoc)
                        option(value='None') Seleccionar..
                        option(value='Alto') Alto
                        option(value='Medio') Medio
                        option(value='Bajo') Bajo

                when 'CM16'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Evidencias
                    .col-md-6.col-sm-6.col-xs-12
                      .row
                        .col-md-12
                          textarea.form-control.col-md-12(id=config.t_commitment_config_id, placeholder='Ingrese una evidencia textual o comentario sobre las evidencias físicas', type='text', name='evidencia_descripcion')
                      .row
                        .col-md-12
                          input#template.inputfile.inputfile-6(type='file',name=config.columnasoc,data-multiple-caption='{count} archivos seleccionados',multiple)
                          label(for='template',width='100%', style='margin-top: 10px')
                            span
                            strong
                              i.fa.fa-upload
                              |  Evidencias

                when 'CM17'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Estado del compromiso 
                      span.required *
                    .col-sm-2
                      select#estadocommit.form-control(name=config.columnasoc)
                        option(value='None') Seleccionar..
                        option(value='Abierto') Abierto
                        option(value='Cerrado') Cerrado
                        option(value='proceso') En proceso
                        option(value='Cancelado') Cancelado                        
                        option(value='Diferido') Diferido
                        option(value='Vencido') Vencido   

                when 'CM18'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Acción sobre el compromiso 
                      span.required *
                    .col-sm-2
                      select#accioncompromiso.form-control(name=config.columnasoc)
                        option(value='None') Seleccionar..
                        option(value='Si') Si
                        option(value='No') No

                when 'CM20'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia propuesta de verificación 
                      span.required *
                    .col-sm-2
                      select#frecuenciaverif.form-control(name=config.columnasoc)
                        option(value='None') Seleccionar..
                        option(value='Unica') Unica
                        option(value='Diaria') Diaria
                        option(value='Semanal') Semanal
                        option(value='Mensual') Mensual
                        option(value='Trimestral') Trimestral
                        option(value='Semestral') Semestral
                        option(value='Anual') Anual
                        option(value='Continuo') Continuo
                        option(value='Indefinido') Indefinido
                when 'CM22'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id, style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder='example@gmail.com,hotmail@outlook.com', type='email', name=config.columnasoc, multiple)
                when 'CM25'
                  .form-group(style='margin-bottom: 0px')
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Fecha de verificación:
                    .col-sm-2 
                      .form-group
                        #fechaverif.input-group.date(style='margin-bottom: 0px')
                          input.form-control(type='text', name=config.columnasoc)
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 

                when 'CM28'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc)

                when 'CM29'
                when 'CM30'
                when 'CM31'
                when 'CM32'
                  if evidencias
                    .form-group
                      label.control-label.col-md-3.col-sm-6.col-xs-12 Etapas
                      .col-md-6.col-sm-6.col-xs-12
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_commitment_config_id,type='checkbox', value='CM29', name='construccion')
                            |  Construcción
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_commitment_config_id,type='checkbox', value='CM30', name='operacion')
                            |  Operación
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_commitment_config_id,type='checkbox', value='CM31', name='cierre')
                            |  Cierre
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_commitment_config_id,type='checkbox', value='CM32', name='postcierre')
                            |  Post - Cierre
                    - evidencias = false
                default
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_commitment_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_commitment_config_id, placeholder=config.name, type='text', name=config.columnasoc) 
            .ln_solid
            .form-group
              a.btn.btn-default.btn-sm(href='/secure/listall') Cancelar
              button.btn.btn-success.btn-sm.pull-right(type='submit') Registrar compromiso
  script(src='/jquery/dist/jquery.min.js')
  script(src='/moment/min/moment-with-locales.min.js')
  script(src='/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  script.
    $('#fechainicio').datetimepicker({
      defaultDate: new Date(),
      format: 'DD/MM/YYYY',
      locale: 'es'
    });
    $('#fechaverif').datetimepicker({
      defaultDate: new Date(),
      format: 'DD/MM/YYYY',
      locale: 'es'
    });
    
