extends ./layout.pug
block container
  section.content-header
    h1
      | Estadísticas de uso de la plataforma
    ol.breadcrumb
      li.active
        i.fa.fa-bar-chart
        |  Estadísticas
  section.content
    .row
      .col-md-12
        .box.box-success
          .box-header.with-border
            h3.box-title Información de Consumo Mensual / #{consumo.NOMBRE}
            //-|  
            //-small ( Enero 2017 )
            .box-tools.pull-right
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus

          .box-body
            .row
              .col-md-12
                .progress-group
                  span.progress-text Llamadas Faltantes
                  |  
                  span.progress-number
                    b #{consumo.CANT_LLAMADAS}
                    | /#{consumo.LLAMADAS}
                  .progress.sm
                    #consumo_llamada.progress-bar.progress-bar-aqua(style='width: 50%')
                .progress-group
                  span.progress-text Mensajes de Texto Faltantes
                  |  
                  span.progress-number
                    b #{consumo.CANT_SMS}
                    | /#{consumo.SMS}
                  .progress.sm
                    #consumo_sms.progress-bar.progress-bar-red
    .row
      .col-md-12
        .box.box-success
          .box-header.with-border
            h3.box-title Resumen Reclutamiento Semanal
            |  
            small ( #{primerdia} - #{ultimodia} )
            .box-tools.pull-right
              .btn-group
                button.btn.btn-box-tool.dropdown-toggle(type='button', data-toggle='dropdown', title='Cambiar año')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='javascript:actualizarReporteSemanal(' + (semana - 1) + ')') Semana Anterior
                  li
                    a(href='javascript:actualizarReporteSemanal()') Semana Actual
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
          .box-body
            #contenedor_bar_semanal.chart
              canvas#bar_reclutamiento_semanal(style='height:280px')
    .row
      .col-md-12
        .box.box-success
          .box-header.with-border
            h3.box-title Resumen Reclutamiento Anual
            |  
            small ( Año 2017 )
            .box-tools.pull-right
              .btn-group
                button.btn.btn-box-tool.dropdown-toggle(type='button', data-toggle='dropdown', title='Cambiar año')
                  i.fa.fa-wrench
                ul.dropdown-menu(role='menu')
                  li
                    a(href='#') 2015
                  li
                    a(href='#') 2016
                  li
                    a(href='#') 2017
              button.btn.btn-box-tool(type='button', data-widget='collapse')
                i.fa.fa-minus
          .box-body
            #contenedor_bar_anual.chart
              canvas#bar_reclutamiento_anual(style='height:280px')

  script(type='text/javascript').
    var consumo = !{JSON.stringify(consumo)};
    $(document).ready(function(){
      $("#consumo_llamada").width(consumo.P_DISPONIBLE_LLAMADA + "%");
      $("#consumo_sms").width(consumo.P_DISPONIBLE_SMS + "%");
    });

    var dataSemanal = {
      labels: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"],
      datasets: [
        {
          label: "Convocatorias al día",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)"
          //data: [15, 20, 0, 0, 0, 0, 0]
        }
      ]
    };

    var dataAnual = {
      labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets: [
        {
          label: "Convocatorias al mes",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)"
          //data: [150, 60, 200, 10, 0, 0, 0, 0, 0, 0, 0, 0]
        }
      ]
    };

    var barChartOptions = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero: true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines: true,
      //String - Colour of the grid lines
      scaleGridLineColor: "rgba(0,0,0,.05)",
      //Number - Width of the grid lines
      scaleGridLineWidth: 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines: true,
      //Boolean - If there is a stroke on each bar
      barShowStroke: true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth: 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing: 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing: 1,
      //String - A legend template
      legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
      //Boolean - whether to make the chart responsive
      responsive: true,
      maintainAspectRatio: true
    };

    $(function () {
      //-------------
      //- BAR CHART -
      //-------------

      var barChartCanvasAnual = $("#bar_reclutamiento_anual").get(0).getContext("2d");
      $.ajax({
        type: "GET",
        url: "/parmsecure/reporteanual",
        success: function(barChartData) {
          dataAnual.datasets[0].data = barChartData;
          var barChartAnual = new Chart(barChartCanvasAnual);
          barChartAnual.Bar(dataAnual, barChartOptions);
        },
        error:function(jqXHR,textStatus,errorThrown){
          console.log(errorThrown);
        }
      });

      var barChartCanvasSemanal = $("#bar_reclutamiento_semanal").get(0).getContext("2d");
      $.ajax({
        type: "GET",
        url: "/parmsecure/reportesemanal",
        success: function(barChartData) {
          dataSemanal.datasets[0].data = barChartData;
          var barChartSemanal = new Chart(barChartCanvasSemanal);
          barChartSemanal.Bar(dataSemanal, barChartOptions);
        },
        error:function(jqXHR,textStatus,errorThrown){
          console.log(errorThrown);
        }
      });
    });

    function actualizarReporteSemanal(semana) {
      $("#bar_reclutamiento_semanal").remove();
      $("#contenedor_bar_semanal.chart").append("<canvas id='bar_reclutamiento_semanal' style='height:280px'></canvas>");
      var url = "/parmsecure/reportesemanal";
      if(semana) {
        url += "?sem=" + semana;
      }
      var barChartCanvasSemanal = $("#bar_reclutamiento_semanal").get(0).getContext("2d");
      $.ajax({
        type: "GET",
        url: url,
        success: function(barChartData) {
          dataSemanal.datasets[0].data = barChartData;
          var barChartSemanal = new Chart(barChartCanvasSemanal);
          barChartSemanal.Bar(dataSemanal, barChartOptions);
        },
        error:function(jqXHR,textStatus,errorThrown){
          console.log(errorThrown);
        }
      });
    }