extends ./layout.pug
block container
  section.content-header
    h1
      | Perfil de Usuario
    ol.breadcrumb
      li.active
        i.fa.fa-user
        |  Perfil de Usuario
  section.content
    .row
      .col-md-3
        .box.box-primary
          .box-body.box-profile
            img.profile-user-img.img-responsive.img-circle(src='/parmsecure/imagen/' + session.usuario.RUC, alt='User profile picture')
            h3.profile-username.text-center #{cliente.RAZON_SOCIAL}
            p.text-muted.text-center Cuenta Empresarial
            button#actualizar_imagen_btn.btn.btn-primary.btn-block
              b Cambiar Imagen de Perfil
        .box.box-primary
          .box-header.with-border
            h3.box-title Mi Información
          .box-body
            strong
              i.fa.fa-book.margin-r-5
              |  Dirección
            p.text-muted #{cliente.DIRECCION}
            hr
            strong
              i.fa.fa-envelope.margin-r-5
              |  Correo electrónico
            p.text-muted #{cliente.CORREO}
            hr
            strong
              i.fa.fa-phone.margin-r-5
              |  Teléfono
            p.text-muted #{cliente.TELEFONO}
            button#actualizar_informacion_btn.btn.btn-primary.btn-block
              b Actualizar Información
      .col-md-9
        .nav-tabs-custom
          ul.nav.nav-tabs
            li.active
              a(href='#ubicacion', data-toggle='tab') Ubicación
            li
              a(href='#contactos', data-toggle='tab') Contactos
            li
              a(href='#personalizacion', data-toggle='tab') Personalización
          .tab-content
            #ubicacion.active.tab-pane
              //form.sidebar-form(action='#', method='get')
              .row
                .col-md-12(style='height: 500px')
                  #map(style='height: 98%')
              .row
                .col-sm-9
                  if cliente.LATITUD == null || cliente.LONGITUD == null
                    input#map_mensaje.form-control(type='text', placeholder='Aún no ha seleccionado su ubicación.',disabled='')
                  else
                    input#map_mensaje.form-control(type='text', placeholder='Seleccione un punto en el mapa para cambiar de ubicación.',disabled='')
                .col-sm-3
                  button#map_boton.btn.btn-block.btn-primary.disabled(disabled='') Guardar

            #contactos.tab-pane
              .box.box-info(style='background: #fafafa')
                .box-header
                  h3.box-title Primer Contacto
                  .pull-right.box-tools
                    if contactos[0]
                      button#btn_eliminar_contacto_1.btn.btn-info.btn-sm(type='button', data-toggle='tooltip', title='Eliminar')
                        i.fa.fa-trash
                    else
                      button#btn_eliminar_contacto_1.btn.btn-info.btn-sm.disabled(type='button', data-toggle='tooltip', title='Eliminar',disabled='')
                        i.fa.fa-trash
                    |  
                    button#btn_contacto_1.btn.btn-info.btn-sm(type='button', data-toggle='tooltip', title='Editar')
                      i.fa.fa-edit
                .box-body
                  if contactos[0]
                    form#frm_eliminar_contacto_1(action='/parmsecure/eliminarcontacto',method='post')
                      input(type='hidden',name='dni',value=contactos[0].DNI)
                    .row
                      .col-xs-2
                        strong Nombres
                      .col-xs-10
                        p #{contactos[0].NOMBRES}
                    .row
                      .col-xs-2
                        strong Apellidos
                      .col-xs-10
                        p #{contactos[0].APELLIDOS}
                    .row
                      .col-xs-2
                        strong Correo Electrónico
                      .col-xs-10
                        p #{contactos[0].CORREO}
                    .row
                      .col-xs-2
                        strong Teléfono
                      .col-xs-10
                        p #{contactos[0].TELEFONO}
                  else
                    .row
                      .col-xs-2
                        strong Nombres
                      .col-xs-10
                        p No registrado
                    .row
                      .col-xs-2
                        strong Apellidos
                      .col-xs-10
                        p No registrado
                    .row
                      .col-xs-2
                        strong Correo Electrónico
                      .col-xs-10
                        p No registrado
                    .row
                      .col-xs-2
                        strong Teléfono
                      .col-xs-10
                        p No registrado

              .box.box-info(style='background: #fafafa')
                .box-header
                  h3.box-title Segundo Contacto
                  .pull-right.box-tools
                    if contactos[1]
                      button#btn_eliminar_contacto_2.btn.btn-info.btn-sm(type='button', data-toggle='tooltip', title='Eliminar')
                        i.fa.fa-trash
                    else
                      button#btn_eliminar_contacto_2.btn.btn-info.btn-sm.disabled(type='button', data-toggle='tooltip', title='Eliminar',disabled='')
                        i.fa.fa-trash
                    |  
                    button#btn_contacto_2.btn.btn-info.btn-sm(type='button', data-toggle='tooltip', title='Editar')
                      i.fa.fa-edit
                .box-body
                  if contactos[1]
                    form#frm_eliminar_contacto_2(action='/parmsecure/eliminarcontacto',method='post')
                      input(type='hidden',name='dni',value=contactos[1].DNI)
                    .row
                      .col-xs-2
                        strong Nombres
                      .col-xs-10
                        p #{contactos[1].NOMBRES}
                    .row
                      .col-xs-2
                        strong Apellidos
                      .col-xs-10
                        p #{contactos[1].APELLIDOS}
                    .row
                      .col-xs-2
                        strong Correo Electrónico
                      .col-xs-10
                        p #{contactos[1].CORREO}
                    .row
                      .col-xs-2
                        strong Teléfono
                      .col-xs-10
                        p #{contactos[1].TELEFONO}
                  else
                    .row
                      .col-xs-2
                        strong Nombres
                      .col-xs-10
                        p No registrado
                    .row
                      .col-xs-2
                        strong Apellidos
                      .col-xs-10
                        p No registrado
                    .row
                      .col-xs-2
                        strong Correo Electrónico
                      .col-xs-10
                        p No registrado
                    .row
                      .col-xs-2
                        strong Teléfono
                      .col-xs-10
                        p No registrado

            #personalizacion.tab-pane
              .box.box-info(style='background: #fafafa')
                .box-header.with-border
                  h3.box-title Texto SMS
                  .pull-right.box-tools
                    button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown',title='Insertar Variables') Variables
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='javascript:insertarVariableSms("RAZON_SOCIAL")') Razón Social
                      li
                        a(href='javascript:insertarVariableSms("PUESTO")') Puesto
                      li
                        a(href='javascript:insertarVariableSms("NOMBRES")') Nombres
                      li
                        a(href='javascript:insertarVariableSms("APELLIDO_PATERNO")') Apellido Paterno
                      li
                        a(href='javascript:insertarVariableSms("APELLIDO_MATERNO")') Apellido Materno
                      li
                        a(href='javascript:insertarVariableSms("FECHA")') Fecha
                      li
                        a(href='javascript:insertarVariableSms("HORA")') Hora
                    |  
                    button.btn.bg-olive.btn-sm(type='button', title='Restaurar texto original')
                      i.fa.fa-rotate-left
                    |  
                    button#btn_guardar_texto_sms.btn.btn-info.btn-sm(type='button', title='Guardar')
                      i.fa.fa-save
                form#frmsms(role='form')
                  .box-body
                    .form-group
                      label(for='sms_texto') Ingrese el texto que se enviará por SMS (Máximo 160 caracteres).
                      |  
                      textarea#sms_texto.form-control(rows='2',maxlength='160',name='textosms') #{configuracion_plataforma.TEXTO_SMS}

              .box.box-info(style='background: #fafafa')
                .box-header.with-border
                  h3.box-title Mensaje de Llamada Telefónica
                  .pull-right.box-tools
                    button.btn.btn-info.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown',title='Insertar Variables') Variables
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='javascript:insertarVariableLlamada("RAZON_SOCIAL")') Razón Social
                      li
                        a(href='javascript:insertarVariableLlamada("PUESTO")') Puesto
                      li
                        a(href='javascript:insertarVariableLlamada("NOMBRES")') Nombres
                      li
                        a(href='javascript:insertarVariableSms("APELLIDO_PATERNO")') Apellido Paterno
                      li
                        a(href='javascript:insertarVariableSms("APELLIDO_MATERNO")') Apellido Materno
                      li
                        a(href='javascript:insertarVariableLlamada("FECHA")') Fecha
                      li
                        a(href='javascript:insertarVariableLlamada("HORA")') Hora
                    |  
                    button.btn.bg-olive.btn-sm(type='button', title='Restaurar texto original')
                      i.fa.fa-rotate-left
                    |  
                    button#btn_guardar_texto_llamada.btn.btn-info.btn-sm(type='button', title='Guardar')
                      i.fa.fa-save
                form#frmllamada(role='form')
                  .box-body
                    .form-group
                      label(for='llamada_texto') Ingrese el texto que se reproducirá en la llamada telefónica.
                      |  
                      textarea#llamada_texto.form-control(rows='2',name='textollamada') #{configuracion_plataforma.TEXTO_LLAMADA}

              .box.box-info(style='background: #fafafa')
                .box-header.with-border
                  h3.box-title Texto Correo Electrónico
                  .pull-right.box-tools
                    button.btn.bg-olive.btn-sm(type='button', title='Restaurar texto original')
                      i.fa.fa-rotate-left
                    |  
                    button#btn_guardar_texto_correo.btn.btn-info.btn-sm(type='button', title='Guardar')
                      i.fa.fa-save
                form#frmcorreo(role='form')
                  .box-body.pad
                    textarea#mail_texto(rows="10",name='textocorreo')


      #mensaje_modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Mensaje
            .modal-body
              p#mensaje One fine body&mldr;
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

      #actualizar_informacion_modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Actualizar Información
            .modal-body
              form#actualizar_informacion_form(action='/parmsecure/actualizarinformacion',method='post')
                .form-group
                  i.fa.fa-book.margin-r-5
                  label.form-control-label Dirección:
                  input#direccion.form-control(type='text',name='direccion')
                .form-group
                  i.fa.fa-envelope.margin-r-5
                  label.form-control-label Correo electrónico:
                  input#correo.form-control(type='text',name='correo')
                .form-group
                  i.fa.fa-phone.margin-r-5
                  label.form-control-label Teléfono:
                  input#telefono.form-control(type='text',name='telefono')
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
              |  
              button#actualizar_informacion_submit.btn.btn-primary(type='button') Actualizar

      #actualizar_imagen_modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Actualizar imagen de perfil
            .modal-body
              form#actualizar_imagen_form(role='form',enctype='multipart/form-data',action='/parmsecure/actualizarimagenperfil',method='post')
                .form-group
                  i.fa.fa-file-image-o.margin-r-5
                  label.form-control-label Seleccionar Imagen:
                  input#exampleInputFile(type='file',name='imagenperfil')
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
              |  
              button#actualizar_imagen_submit.btn.btn-primary(type='button') Actualizar

      #datos_contacto_1.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Actualizar datos de Contacto 1
            .modal-body
              form#frm_actualizar_contacto_1(action='/parmsecure/actualizarcontacto',method='post')
                .form-group
                  i.fa.fa-user.margin-r-5
                  label.form-control-label DNI:
                  if contactos[0]
                    input#dni_contacto1.form-control(type='text',name='dni_contacto',disabled='')
                  else
                    input#dni_contacto1.form-control(type='text',name='dni_contacto')
                .form-group
                  i.fa.fa-user.margin-r-5
                  label.form-control-label Nombres:
                  input#nombres_contacto1.form-control(type='text',name='nombres_contacto')
                .form-group
                  i.fa.fa-user.margin-r-5
                  label.form-control-label Apellidos:
                  input#apellidos_contacto1.form-control(type='text',name='apellidos_contacto')
                .form-group
                  i.fa.fa-envelope.margin-r-5
                  label.form-control-label Correo Eletrónico:
                  input#correo_contacto1.form-control(type='text',name='correo_contacto')
                .form-group
                  i.fa.fa-phone.margin-r-5
                  label.form-control-label Teléfono:
                  input#telefono_contacto1.form-control(type='text',name='telefono_contacto')
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
              |  
              button#actualizar_contacto_1.btn.btn-primary(type='button') Actualizar

      #datos_contacto_2.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Actualizar datos de Contacto 2
            .modal-body
              form#frm_actualizar_contacto_2(action='/parmsecure/actualizarcontacto',method='post')
                .form-group
                  i.fa.fa-user.margin-r-5
                  label.form-control-label DNI:
                  if contactos[1]
                    input#dni_contacto2.form-control(type='text',name='dni_contacto',disabled='')
                  else
                    input#dni_contacto2.form-control(type='text',name='dni_contacto')
                .form-group
                  i.fa.fa-user.margin-r-5
                  label.form-control-label Nombres:
                  input#nombres_contacto2.form-control(type='text',name='nombres_contacto')
                .form-group
                  i.fa.fa-user.margin-r-5
                  label.form-control-label Apellidos:
                  input#apellidos_contacto2.form-control(type='text',name='apellidos_contacto')
                .form-group
                  i.fa.fa-envelope.margin-r-5
                  label.form-control-label Correo Eletrónico:
                  input#correo_contacto2.form-control(type='text',name='correo_contacto')
                .form-group
                  i.fa.fa-phone.margin-r-5
                  label.form-control-label Teléfono:
                  input#telefono_contacto2.form-control(type='text',name='telefono_contacto')
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
              |  
              button#actualizar_contacto_2.btn.btn-primary(type='button') Actualizar

  script(type='text/javascript').

    var map;
    var marcador = null;

    $(document).ready(function(){
      $("#map_boton").attr("disabled",true);
      $('#map_boton').click(function (event) {
          var latitud = marcador.getPosition().lat();
          var longitud = marcador.getPosition().lng();
          $.ajax({
            type:'GET',
            url:'/parmsecure/actualizarubicacion',
            data:{lat:latitud,lng:longitud},
            contentType:'application/json',
            success:function(data,textStatus,jqXHR){
              $("#mensaje").text(data);
              $("#mensaje_modal").modal("show");
            },
            error:function(jqXHR,textStatus,errorThrown){
              console.log(errorThrown);
            }
          });
          event.preventDefault();
      });
      $('#actualizar_informacion_btn').click(function (event) {
        $("#actualizar_informacion_modal").modal("show");
        $("#direccion").val("!{cliente.DIRECCION}");
        $("#correo").val("!{cliente.CORREO}");
        $("#telefono").val("!{cliente.TELEFONO}");
      });
      $('#actualizar_imagen_btn').click(function (event) {
        $("#actualizar_imagen_modal").modal("show");
      });
      $('#actualizar_informacion_submit').click(function (event){
        $('#actualizar_informacion_form').submit();
      });
      $('#actualizar_imagen_submit').click(function (event){
        $('#actualizar_imagen_form').submit();
      });
      var array_contactos = !{JSON.stringify(contactos)};
      $('#btn_contacto_1').click(function (event){
        $('#datos_contacto_1').modal("show");
        if(array_contactos[0]) {
          $('#dni_contacto1').val(array_contactos[0].DNI);
          $('#nombres_contacto1').val(array_contactos[0].NOMBRES);
          $('#apellidos_contacto1').val(array_contactos[0].APELLIDOS);
          $('#correo_contacto1').val(array_contactos[0].CORREO);
          $('#telefono_contacto1').val(array_contactos[0].TELEFONO);
        } else {
          $('#frm_actualizar_contacto_1').trigger("reset");
          $('#dni_contacto1').val('');
        }
      });
      $('#btn_contacto_2').click(function (event){
        $('#datos_contacto_2').modal("show");
        if(array_contactos[1]) {
          $('#dni_contacto2').val(array_contactos[1].DNI);
          $('#nombres_contacto2').val(array_contactos[1].NOMBRES);
          $('#apellidos_contacto2').val(array_contactos[1].APELLIDOS);
          $('#correo_contacto2').val(array_contactos[1].CORREO);
          $('#telefono_contacto2').val(array_contactos[1].TELEFONO);
        } else {
          $('#frm_actualizar_contacto_2').trigger("reset");
          $('#dni_contacto2').val('');
        }
      });

      var decoded = $('<textarea />').html("#{configuracion_plataforma.TEXTO_CORREO}").text();
      $("#mail_texto").val(decoded);
      CKEDITOR.replace('mail_texto');

      $("#frmcorreo").submit(function(e) {
        var texto = CKEDITOR.instances.mail_texto.getData();
        texto = texto.replace(/\n/g, "");
        $.ajax({
          type: "POST",
          url: "/parmsecure/guardartextocorreo",
          data: {textocorreo:texto},
          success: function(data) {
            $("#mensaje").text(data);
            $("#mensaje_modal").modal("show");
          },
          error:function(jqXHR,textStatus,errorThrown){
            console.log(errorThrown);
          }
        });
        e.preventDefault();
      });

      $("#frmsms").submit(function(e) {
        $.ajax({
          type: "POST",
          url: "/parmsecure/guardartextosms",
          data: $("#frmsms").serialize(),
          success: function(data) {
            $("#mensaje").text(data);
            $("#mensaje_modal").modal("show");
          },
          error:function(jqXHR,textStatus,errorThrown){
            console.log(errorThrown);
          }
        });
        e.preventDefault();
      });

      $("#frmllamada").submit(function(e) {
        $.ajax({
          type: "POST",
          url: "/parmsecure/guardartextollamada",
          data: $("#frmllamada").serialize(),
          success: function(data) {
            $("#mensaje").text(data);
            $("#mensaje_modal").modal("show");
          },
          error:function(jqXHR,textStatus,errorThrown){
            console.log(errorThrown);
          }
        });
        e.preventDefault();
      });

      $('#btn_guardar_texto_correo').click(function (event){
        $("#frmcorreo").submit();
      });
      $('#btn_guardar_texto_sms').click(function (event){
        $("#frmsms").submit();
      });
      $('#btn_guardar_texto_llamada').click(function (event){
        $("#frmllamada").submit();
      });

      $('#actualizar_contacto_1').click(function(event){
        $('#frm_actualizar_contacto_1').submit();
      });

      $('#actualizar_contacto_2').click(function(event){
        $('#frm_actualizar_contacto_2').submit();
      });

      $('#btn_eliminar_contacto_1').click(function(){
          $('#frm_eliminar_contacto_1').submit();
      });

      $('#btn_eliminar_contacto_2').click(function(){ 
          $('#frm_eliminar_contacto_2').submit();
      });

    });

    function initMap() {
      var myLatLng = {lat: -12.060578, lng: -76.943505};
      map = new google.maps.Map(document.getElementById("map"), {
        center: myLatLng,
        zoom: 14
      });

      if(!{cliente.LATITUD} && !{cliente.LONGITUD}) {
        var location = {lat: !{cliente.LATITUD}, lng: !{cliente.LONGITUD}};
        marcador = new google.maps.Marker({
          position: location,
          map: map
        });
        map.panTo(location);
      }

      map.addListener("click", function(e){
        if(marcador) {
          marcador.setMap(null);
        }
        marcarYPosicionar(e.latLng,map);
        actualizarComponentesMapa(e.latLng);
      });
    }

    function marcarYPosicionar(latLng, map) {
      marcador = new google.maps.Marker({
        position: latLng,
        map: map
      });
      map.panTo(latLng);
    }

    function insertarVariableSms(variable,tipo) {
      var cajaTexto = $("#sms_texto");
      cajaTexto.val(cajaTexto.val() + "$" + variable);
    }

    function insertarVariableLlamada(variable) {
      var cajaTexto = $("#llamada_texto");
      cajaTexto.val(cajaTexto.val() + "$" + variable);
    }

    function insertarVariableEmail(variable) {
      var cajaTexto = $("#mail_texto");
      cajaTexto.val(cajaTexto.val() + "$" + variable);
    }

    function actualizarComponentesMapa(latLng){
      $("#map_boton").removeClass("disabled").attr("disabled",false);
      $("#map_mensaje").attr("placeholder","Haga click Guardar para registrar la nueva posición.");
    }
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAXXVgt21AeEJs2F-rt_z4FcjwbHO_3_tY&callback=initMap')
  script(src='https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js')
