extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Acceso a usuarios
          .clearfix
        .x_content
          table#tblusers.table.table-striped.table-bordered.jambo_table
            thead
              tr
                th ID Usuario
                th Correo
                th Nombres
                th Apellido
                th Rol
                th Acción
            tbody
              if users
                each user in users
                  tr
                    td #{user.userid}
                    td #{user.email}
                    td #{user.name}
                    td #{user.lastname}
                    td #{user.rol_name}
                    td
                      a.btn.btn-danger.btn-xs(href='javascript:deleteUser("' + user.userid +'")')
                        i.fa.fa-trash-o
                        |  Eliminar
          .ln_solid(style='margin-top:5px')
          a.btn.btn-warning.btn-xs(href='/secure/usercreate') Nuevo usuario

    #confirm_delete.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header
            //-button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
            h4#comfirm_delete_title.modal-title
          form#frmConfirmDelete(action='/secure/deleteUser',method='post')
            .modal-body
              p Esta acción eliminará el usuario selecionado.
              center
                strong ¿Desea continuar?
              input(type='hidden',name='userid')
            .modal-footer
              button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Cancelar
              |  
              button.btn.btn-danger(type='submit') Continuar

    script.
      window.onload = function() {
        $('#tblusers').DataTable({
          "lengthMenu": [[5, 15], [5, 15]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No tiene clientes registrados',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            zeroRecords: 'No se encontraron registros coincidentes'
          }
        });
      }
      var deleteUser = function(userid) {
        $('#comfirm_delete_title').text('Eliminar usuario ' + userid);
        $('#frmConfirmDelete input[name=userid]').val(userid);
        $('#confirm_delete').modal('show');
      }