extends ../../layouts/layout_admin.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Registro de Auditoría
          .clearfix
        .x_content
          table#tblauditologs.table.table-striped.table-bordered.jambo_table
            thead
              tr
                th Fecha y Hora
                th RUC
                th Empresa
                th ID de Sesión
                th Usuario
                th Router
                th Acción
                th ID Afectado
                th Campos Afectados
            tbody
              if auditlogs
                each log in auditlogs
                  tr
                    td #{log.datetime}
                    td #{log.ruc}
                    td #{log.companyname}
                    td #{log.sessionid}
                    td #{log.userid}
                    td #{log.router}
                    td #{log.action}
                    td #{log.idaffected}
                    td #{log.fieldaffected}

    script.
      window.onload = function() {
        $('#tblauditologs').DataTable({
          "lengthMenu": [[5, 15, 20], [5, 15, 20]],
          language: {
            paginate: {
                first:    'Inicio',
                previous: 'Anterior',
                next:     'Siguiente',
                last:     'Fin'
            },
            info: 'Mostrando _START_ a _END_ de _TOTAL_ registro(s)',
            infoEmpty: 'No se encontraron registros',
            emptyTable: 'No se encontraron registros de auditoría',
            lengthMenu: 'Mostrar _MENU_ registro(s)',
            search: 'Buscar:',
            zeroRecords: 'No se encontraron registros coincidentes'
          }
        });
        var message = '!{message}';
        console.log(message);
        if(message) {
          new PNotify({
            title: message.title,
            text: message.text,
            type: message.type,
            styling: 'bootstrap3'
          });
        }
      }