extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Formulario de Registro de Monitoreo
          ul.nav.navbar-right.panel_toolbox
          .clearfix
        .x_content
          - var evidencias = true
          form#frmregisterMonit.form-horizontal(action='/secure/monitregister',method='post',enctype='multipart/form-data')
            each config in monitorconfig
              case config.t_monitor_config_id
                when 'MN01'
                  input(id=config.t_monitor_config_id, type='hidden', name=config.columnasoc)
                when 'MN09'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_monitor_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_monitor_config_id, placeholder=config.name, type='text', name=config.columnasoc)
                when 'MN11'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_monitor_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_monitor_config_id, placeholder=config.name, type='text', name=config.columnasoc)
                when 'MN13'
                  .form-group(style='margin-bottom: 0px')
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Fecha de Inicio
                    .col-sm-2 
                      .form-group
                        #fechainicio.input-group.date(style='margin-bottom: 0px')
                          input.form-control(type='text', name=config.columnasoc)
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 
                when 'MN14'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia de monitoreo
                    .col-sm-2
                      select#frecuencia.form-control(name=config.columnasoc)
                        option(value='') Seleccionar..
                        option(value='Unica') Unica
                        option(value='Diaria') Diaria
                        option(value='Semanal') Semanal
                        option(value='Mensual') Mensual
                        option(value='Trimestral') Trimestral
                        option(value='Semestral') Semestral
                        option(value='Anual') Anual
                        option(value='Continuo') Continuo
                        option(value='Indefinido') Indefinido 
                when 'MN17'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia de reporte
                    .col-sm-2
                      select#frecuencia.form-control(name=config.columnasoc)
                        option(value='') Seleccionar..
                        option(value='Unica') Unica
                        option(value='Diaria') Diaria
                        option(value='Semanal') Semanal
                        option(value='Mensual') Mensual
                        option(value='Trimestral') Trimestral
                        option(value='Semestral') Semestral
                        option(value='Anual') Anual
                        option(value='Continuo') Continuo
                        option(value='Indefinido') Indefinido 

                when 'MN18'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Evidencias
                    .col-md-6.col-sm-6.col-xs-12
                      .row
                        .col-md-12
                          textarea.form-control.col-md-12(id=config.t_monitor_config_id, placeholder='Ingrese una evidencia textual o comentario sobre las evidencias físicas', type='text', name='evidencia_descripcion')
                      .row
                        .col-md-12
                          input#template.inputfile.inputfile-6(type='file',name=config.columnasoc,data-multiple-caption='{count} archivos seleccionados',multiple)
                          label(for='template',width='100%', style='margin-top: 10px')
                            span
                            strong
                              i.fa.fa-upload
                              |  Evidencias

                when 'MN19'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Estado del monitoreo
                    .col-sm-2
                      select#estadocommit.form-control(name=config.columnasoc)
                        option(value='') Seleccionar..
                        option(value='Abierto') Abierto
                        option(value='Cerrado') Cerrado
                        option(value='proceso') En proceso
                        option(value='Cancelado') Cancelado                        
                        option(value='Diferido') Diferido
                        option(value='Vencido') Vencido   

                when 'MN21'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Acción sobre el monitoreo
                    .col-sm-2
                      select#accioncompromiso.form-control(name=config.columnasoc)
                        option(value='') Seleccionar..
                        option(value='Si') Si
                        option(value='No') No

                when 'MN23'
                  .form-group
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Frecuencia de verificación del monitoreo
                    .col-sm-2
                      select#frecuenciaverif.form-control(name=config.columnasoc)
                        option(value='') Seleccionar..
                        option(value='Unica') Unica
                        option(value='Diaria') Diaria
                        option(value='Semanal') Semanal
                        option(value='Mensual') Mensual
                        option(value='Trimestral') Trimestral
                        option(value='Semestral') Semestral
                        option(value='Anual') Anual
                        option(value='Continuo') Continuo
                        option(value='Indefinido') Indefinido
                when 'MN25'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_monitor_config_id, style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_monitor_config_id, placeholder='example@gmail.com,hotmail@outlook.com', type='email', name=config.columnasoc, multiple)
                when 'MN27'
                  .form-group(style='margin-bottom: 0px')
                    label.control-label.col-md-3.col-sm-3.col-xs-12
                      | Fecha de verificación:
                    .col-sm-2 
                      .form-group
                        #fecharevision.input-group.date(style='margin-bottom: 0px')
                          input.form-control(type='text', name=config.columnasoc)
                          span.input-group-addon
                            span.glyphicon.glyphicon-calendar 

                when 'MN30'
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_monitor_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      textarea.form-control.col-md-7.col-xs-6(id=config.t_monitor_config_id, placeholder=config.name, type='text', name=config.columnasoc)

                when 'MN31'
                when 'MN32'
                when 'MN33'
                when 'MN34'
                  if evidencias
                    .form-group
                      label.control-label.col-md-3.col-sm-6.col-xs-12 Etapas
                      .col-md-6.col-sm-6.col-xs-12
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_monitor_config_id,type='checkbox', value='MN31', name='construccion')
                            |  Construcción
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_monitor_config_id,type='checkbox', value='MN32', name='operacion')
                            |  Operación
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_monitor_config_id,type='checkbox', value='MN33', name='cierre')
                            |  Cierre
                        .checkbox(style='padding-top:0px')
                          label
                            input.flat(id=config.t_monitor_config_id,type='checkbox', value='MN34', name='postcierre')
                            |  Post - Cierre
                    - evidencias = false
                default
                  .form-group
                    label.control-label.col-md-3.col-sm-6.col-xs-12(for=config.t_monitor_config_id,style='cursor: pointer') 
                      | #{config.name}
                    .col-md-6.col-sm-6.col-xs-12
                      input.form-control.col-md-7.col-xs-6(id=config.t_monitor_config_id, placeholder=config.name, type='text', name=config.columnasoc) 
            .ln_solid
            .row
              .col-md-3.col-sm-3.col-xs-12
                a.btn.btn-default.btn-xs(href='/secure/monitlist') Cancelar
                button.btn.btn-success.btn-xs(type='submit') Registrar monitoreo
              #pbcontainer.col-md-9.col-sm-9.col-xs-12(style='display: none')
                .progress(style='border-radius: 4px;margin-bottom: 0;margin-top: 5px')
                  #progressbar.progress-bar.progress-bar-success(role="progressbar",style="width: 0%",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100") Progreso 0%

  script.
    window.onload = function() {
      $('#fechainicio').datetimepicker({
        defaultDate: new Date(),
        format: 'DD/MM/YYYY',
        locale: 'es'
      }).on("dp.change", function (e) {
        $('#fecharevision').data('DateTimePicker').minDate(e.date);
      });
      $('#fecharevision').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'es',
        useCurrent: false
      });
    }
    
