extends ../layouts/layout_main.pug
block container
  .page-title
    .title_left
      h3 Editar atributos de control
  .clearfix
  .row
    .col-md-12
      .x_panel
        .clearfix
        .x_content
          form.form-horizontal.form-label-left(action='/secure/configattrdashboard', method='POST')
            center
              table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='100%')
                each type, index in dashboard
                  - var check = false
                  if index % 4 == 0
                    tr
                    if index % 4 == 0
                      td  
                        label(for=type.id,style='cursor: pointer') #{type.name}
                      td
                        each config in dashboardconfig
                          if type.id == config.t_dashboard_config_id
                            - check = true
                            - break
                        if check == true
                          input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked)
                        else
                          input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                  else
                    td
                      label(for=type.id,style='cursor: pointer') #{type.name}
                    td
                      each config in dashboardconfig
                        if type.id == config.t_dashboard_config_id
                          - check = true
                          - break
                      if check == true
                        input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked)
                      else
                        input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
            .row
              .ln_solid
                .x_content
                  .form-group.pull-right
                    a.btn.btn-primary(href='/secure/configattrdashboard') Cancel
                    button.btn.btn-success(type='submit') Submit
                  