extends ../../layouts/layout_main.pug
block container
  .page-title
    //.right_col(role='main')
    // top tiles
    if session.user.firsttime != 1
      .row
        .col-md-6.col-sm-6.col-xs-12
          .row.tile_count
            .col-md-4.col-sm-4.col-xs-4.tile_stats_count
              span.count_top
                |  Compromisos total
              .count #{totalCommitmentByRuc}
            .col-md-4.col-sm-4.col-xs-4.tile_stats_count
              span.count_top
                |  Compromisos incompletos
              .count(style='color:orange') 100
            .col-md-4.col-sm-4.col-xs-4.tile_stats_count
              span.count_top
                |  Compromisos Cerrados
              .count.green #{getCommitmentByStatusClosed}
          .row
            .col-md-12.col-sm-12.col-xs-12
              .panel.panel-body
                .x_title
                  h4 Compromisos por criticidad
                .row
                  .col-xs-4
                    span.chart(data-percent=commitmenthighseverity)
                      span.percent
                  .col-xs-4
                    span.chart(data-percent=commitmentmediumseverity)
                      span.percent
                  .col-xs-4
                    span.chart(data-percent=commitmentlowseverity)
                      span.percent
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel
                .x_title
                  h2 Acción sobre compromisos
                  .clearfix
                .x_content
                  #echart_donut_commit(style='height:350px;')
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel
                .panel.panel-body
                  .x_title
                    h2 Desviación - Compromisos
                    .clearfix
                  .x_content
                    #echart_gauge_commit(style='height:370px;')
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel
                .x_title
                  h2 Incumplimiento - Compromisos
                  .clearfix
                .x_content
                  #echart_pie_commit(style='height:350px;')

        .col-md-6.col-sm-6.col-xs-12
          .row.tile_count
            .col-md-4.col-sm-4.col-xs-4.tile_stats_count
              span.count_top
                |  Monitoreo total 
              .count 1000
            .col-md-4.col-sm-4.col-xs-4.tile_stats_count
              span.count_top
                |  Monitoreo incompletos
              .count(style='color:orange') 80
            .col-md-4.col-sm-4.col-xs-4.tile_stats_count
              span.count_top
                |  Monitoreo cerrados
              .count.green 5
          .row
            .col-md-12.col-sm-12.col-xs-12
              .panel.panel-body
                .x_title
                  h4 Monitoreo por criticidad
                .row
                  .col-xs-4
                    span.chart(data-percent='86')
                      span.percent
                  .col-xs-4
                    span.chart(data-percent='73')
                      span.percent
                  .col-xs-4
                    span.chart(data-percent='60')
                      span.percent
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel
                .x_title
                  h2 Acción sobre monitoreos
                  .clearfix
                .x_content
                  #echart_donut_monit(style='height:350px;')
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel
                .panel.panel-body
                  .x_title
                    h2 Desviación - Monitoreo
                    .clearfix
                  .x_content
                    #echart_gauge_monit(style='height:370px;')
          .row
            .col-md-12.col-sm-12.col-xs-12
              .x_panel
                .x_title
                  h2 Incumplimiento - Monitoreo
                  .clearfix
                .x_content
                  #echart_pie_monit(style='height:350px;')

    if session.user.firsttime == 1
      #config_init.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false',data-focus-on='input:first',style="display: none;")
        .modal-dialog.modal-lg(role='document')
          .modal-content
            .modal-header
              a.close(href='logout')
                span(aria-hidden='true') &times;
              center 
                h4.modal-title Configuración de compromisos y monitoreo
            .modal-body
              #wizard.form_wizard.wizard_horizontal
                ul.wizard_steps(style='padding: 0px')
                  li(style='width:25%')
                    a(href='#step-1')
                      span.step_no 1
                      span.step_descr
                        | Paso 1
                        //br
                        //small Encabezados
                  li(style='width:25%')
                    a(href='#step-2')
                      span.step_no 2
                      span.step_descr
                        | Paso 2
                        //br
                        //small Dashboard
                  li(style='width:25%')
                    a(href='#step-3')
                      span.step_no 3
                      span.step_descr
                        | Paso 3
                        //br
                        //small Tabla de compromisos
                  li(style='width:25%')
                    a(href='#step-4')
                      span.step_no 4
                      span.step_descr
                        | Paso 4
                        //br
                        //small Tabla de monitoreo
                #step-1
                  form#frmstep1.form-horizontal.form-label-left(action='/secure/initConfig', method='POST' )
                    span.section(style='color: #71859A') Paso 1 : Configuración de Compañía
                    .form-group
                      label.control-label.col-md-4.col-sm-3.col-xs-12(for='razonsocial')
                        | Titular *
                      .col-md-6.col-sm-7.col-xs-12
                        input#razonsocial.form-control.col-md-7.col-xs-12(type='text', required='required', name='razonsocial',value=session.user.companyname)
                    .form-group
                      label.control-label.col-md-4.col-sm-3.col-xs-12(for='unidadruc')
                        | Unidad *
                      .col-md-6.col-sm-7.col-xs-12
                        input#unidadinit.form-control.col-md-7.col-xs-12(type='text', required='required', name='unidadinit')
                    .form-group
                      .col-md-4.col-sm-3.col-xs-12
                      .col-md-6.col-sm-7.col-xs-12
                        input#multiunidad.flat(type='checkbox', value='Multiunidad', name='multiunidad')
                        |  
                        label(for='multiunidad',style='cursor: pointer') Varias Unidades
                    .form-group
                      label.control-label.col-md-4.col-sm-3.col-xs-12(for='proyoper')
                        |  Proyecto u Operación *
                      .col-md-6.col-sm-7.col-xs-12
                        input#proyoper.form-control.col-md-7.col-xs-12(type='text', name='proyoper')
                    .form-group
                      .col-md-4.col-sm-3.col-xs-12
                      .col-md-6.col-sm-7.col-xs-12
                        input#multiproyoper.flat(type='checkbox', value='Multiproyecto', name='multiproyoper')
                        |  
                        label(for='multiproyoper',style='cursor: pointer') Varios proyectos u operaciones
                #step-2
                  form#frmstep2.frmstep1form-horizontal.form-label-left
                    span.section(style='color: #71859A') Paso 2 : Configuración inicial del Dashboard
                    each type, index in dashboard
                      if type.mandatory === 1
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === dashboard.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === dashboard.length - 1
                              | </div>
                      else
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer') #{type.name}
                          if index === dashboard.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard;min-height:30px')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === dashboard.length - 1
                              | </div>
                #step-3
                  form#frmstep3.form-label-left
                    span.section(style='color: #71859A') Paso 3 : Configuración inicial de la tabla de compromisos
                    each type, index in commitment
                      if type.mandatory === 1
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos', checked='checked', disabled='disabled')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === commitment.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === commitment.length - 1
                              | </div>
                      else
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === commitment.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                              
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')

                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === commitment.length - 1
                              | </div>
                #step-4
                  form#frmstep4.form-label-left
                    span.section(style='color: #71859A') Paso 4 : Configuración inicial de la tabla de monitoreo
                    each type, index in monitor
                      if type.mandatory === 1
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo', checked='checked', disabled='disabled')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === monitor.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === monitor.length - 1
                              | </div>
                      else
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === monitor.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === monitor.length - 1
                              | </div>

    script.
      var theme = {
        color: [
          '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
          '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
        ],

        title: {
          itemGap: 8,
          textStyle: {
            fontWeight: 'normal',
            color: '#408829'
          }
        },

        dataRange: {
          color: ['#1f610a', '#97b58d']
        },

        toolbox: {
          color: ['#408829', '#408829', '#408829', '#408829']
        },

        tooltip: {
          backgroundColor: 'rgba(0,0,0,0.5)',
          axisPointer: {
            type: 'line',
            lineStyle: {
              color: '#408829',
              type: 'dashed'
            },
            crossStyle: {
              color: '#408829'
            },
            shadowStyle: {
              color: 'rgba(200,200,200,0.3)'
            }
          }
        },

        dataZoom: {
          dataBackgroundColor: '#eee',
          fillerColor: 'rgba(64,136,41,0.2)',
          handleColor: '#408829'
        },
        grid: {
          borderWidth: 0
        },

        categoryAxis: {
          axisLine: {
            lineStyle: {
              color: '#408829'
            }
          },
          splitLine: {
            lineStyle: {
              color: ['#eee']
            }
          }
        },

        valueAxis: {
          axisLine: {
            lineStyle: {
              color: '#408829'
            }
          },
          splitArea: {
            show: true,
            areaStyle: {
              color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
            }
          },
          splitLine: {
            lineStyle: {
              color: ['#eee']
            }
          }
        },
        timeline: {
          lineStyle: {
            color: '#408829'
          },
          controlStyle: {
            normal: {color: '#408829'},
            emphasis: {color: '#408829'}
          }
        },

        k: {
          itemStyle: {
            normal: {
              color: '#68a54a',
              color0: '#a9cba2',
              lineStyle: {
                width: 1,
                color: '#408829',
                color0: '#86b379'
              }
            }
          }
        },
        map: {
          itemStyle: {
            normal: {
              areaStyle: {
                color: '#ddd'
              },
              label: {
                textStyle: {
                  color: '#c12e34'
                }
              }
            },
            emphasis: {
              areaStyle: {
                color: '#99d2dd'
              },
              label: {
                textStyle: {
                  color: '#c12e34'
                }
              }
            }
          }
        },
        force: {
          itemStyle: {
            normal: {
              linkStyle: {
                strokeColor: '#408829'
              }
            }
          }
        },
        chord: {
          padding: 4,
          itemStyle: {
            normal: {
              lineStyle: {
                width: 1,
                color: 'rgba(128, 128, 128, 0.5)'
              },
              chordStyle: {
                lineStyle: {
                  width: 1,
                  color: 'rgba(128, 128, 128, 0.5)'
                }
              }
            },
            emphasis: {
              lineStyle: {
                width: 1,
                color: 'rgba(128, 128, 128, 0.5)'
              },
              chordStyle: {
                lineStyle: {
                  width: 1,
                  color: 'rgba(128, 128, 128, 0.5)'
                }
              }
            }
          }
        },
        gauge: {
          startAngle: 225,
          endAngle: -45,
          axisLine: {
            show: true,
            lineStyle: {
              color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
              width: 8
            }
          },
          axisTick: {
            splitNumber: 10,
            length: 12,
            lineStyle: {
              color: 'auto'
            }
          },
          axisLabel: {
            textStyle: {
              color: 'auto'
            }
          },
          splitLine: {
            length: 18,
            lineStyle: {
              color: 'auto'
            }
          },
          pointer: {
            length: '90%',
            color: 'auto'
          },
          title: {
            textStyle: {
              color: '#333'
            }
          },
          detail: {
            textStyle: {
              color: 'auto'
            }
          }
        },
        textStyle: {
          fontFamily: 'Arial, Verdana, sans-serif'
        }
      };

      window.onload = function() {
        var firsttime = '#{session.user.firsttime}';
        if (firsttime == 1) {
          $('#wizard').smartWizard({
            labelNext:'Siguiente',
            labelPrevious:'Anterior',
            labelFinish:'Finalizar',
            buttonOrder: ['prev', 'next', 'finish'],
            onLeaveStep: changeStep,
            onFinish: finishWizard
          });
          $('.buttonNext').addClass('btn btn-success');
          $('.buttonPrevious').addClass('btn btn-primary');
          $('.buttonFinish').addClass('btn btn-default');
          $('#config_init').modal('show');
        }
        $('#multiunidad').on('ifChecked',function(){
          $('#unidadinit').val($(this).val()).addClass('disabled').attr('disabled',true);
        });
        $('#multiunidad').on('ifUnchecked',function(){
          $('#unidadinit').val('').removeClass('disabled').attr('disabled',false);
        });

        $('#multiproyoper').on('ifChecked',function(){
          $('#proyoper').val($(this).val()).addClass('disabled').attr('disabled',true);
        });
        $('#multiproyoper').on('ifUnchecked',function(){
          $('#proyoper').val('').removeClass('disabled').attr('disabled',false);
        });
        var echartDonutCommit = echarts.init(document.getElementById('echart_donut_commit'), theme);
        echartDonutCommit.setOption({
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          calculable: true,
          legend: {
            x: 'center',
            y: 'bottom',
            data: ['Requiere Acción', 'Incumplidos con plan de acción', 'Sin plan de acción']
          },
          series: [{
            name: 'Cantidad',
            type: 'pie',
            radius: ['35%', '55%'],
            itemStyle: {
            normal: {
              label: {
              show: true
              },
              labelLine: {
              show: true
              }
            },
            emphasis: {
              label: {
              show: true,
              position: 'center',
              textStyle: {
                fontSize: '14',
                fontWeight: 'normal'
              }
              }
            }
            },
            data: [{
            value: #{getCommitmentRequiereAction},
            name: 'Requiere Acción'
            }, {
            value: #{getCommitmentUncomplishedWithAction},
            name: 'Incumplidos con plan de acción'
            }, {
            value: #{getCommitmentWithoutAction},
            name: 'Sin plan de acción'
            }]
          }]
        });

        var echartDonutMonit = echarts.init(document.getElementById('echart_donut_monit'), theme);
        echartDonutMonit.setOption({
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          calculable: true,
          legend: {
            x: 'center',
            y: 'bottom',
            data: ['Requiere Acción', 'Incumplidos con plan de acción', 'Sin plan de acción']
          },
          series: [{
            name: 'Cantidad',
            type: 'pie',
            radius: ['35%', '55%'],
            itemStyle: {
            normal: {
              label: {
              show: true
              },
              labelLine: {
              show: true
              }
            },
            emphasis: {
              label: {
              show: true,
              position: 'center',
              textStyle: {
                fontSize: '14',
                fontWeight: 'normal'
              }
              }
            }
            },
            data: [{
            value: 335,
            name: 'Requiere Acción'
            }, {
            value: 310,
            name: 'Incumplidos con plan de acción'
            }, {
            value: 234,
            name: 'Sin plan de acción'
            }]
          }]
        });

        var echartGaugeCommit = echarts.init(document.getElementById('echart_gauge_commit'), theme);
        echartGaugeCommit.setOption({
          tooltip: {
            formatter: "{a} <br/>{b} : {c}%"
          },
          series: [{
            name: 'Performance',
            type: 'gauge',
            center: ['50%', '50%'],
            startAngle: 140,
            endAngle: -140,
            min: 0,
            max: 100,
            precision: 0,
            splitNumber: 10,
            axisLine: {
            show: true,
            lineStyle: {
              color: [
              [0.2, 'lightgreen'],
              [0.4, 'orange'],
              [0.8, 'skyblue'],
              [1, '#ff4500']
              ],
              width: 30
            }
            },
            axisTick: {
            show: true,
            splitNumber: 5,
            length: 8,
            lineStyle: {
              color: '#eee',
              width: 1,
              type: 'solid'
            }
            },
            axisLabel: {
            show: true,
            formatter: function(v) {
              switch (v + '') {
              case '10':
                return 'a';
              case '30':
                return 'b';
              case '60':
                return 'c';
              case '90':
                return 'd';
              default:
                return '';
              }
            },
            textStyle: {
              color: '#333'
            }
            },
            splitLine: {
            show: true,
            length: 30,
            lineStyle: {
              color: '#eee',
              width: 2,
              type: 'solid'
            }
            },
            pointer: {
            length: '80%',
            width: 8,
            color: 'auto'
            },
            title: {
            show: true,
            offsetCenter: ['-65%', -10],
            textStyle: {
              color: '#333',
              fontSize: 15
            }
            },
            detail: {
            show: true,
            backgroundColor: 'rgba(0,0,0,0)',
            borderWidth: 0,
            borderColor: '#ccc',
            width: 100,
            height: 40,
            offsetCenter: ['-60%', 10],
            formatter: '{value}%',
            textStyle: {
              color: 'auto',
              fontSize: 30
            }
            },
            data: [{
            value: #{commitmentdesviation},
            name: 'Desviación'
            }]
          }]
        });

        var echartGaugeMonit = echarts.init(document.getElementById('echart_gauge_monit'), theme);
        echartGaugeMonit.setOption({
          tooltip: {
            formatter: "{a} <br/>{b} : {c}%"
          },
          series: [{
            name: 'Performance',
            type: 'gauge',
            center: ['50%', '50%'],
            startAngle: 140,
            endAngle: -140,
            min: 0,
            max: 100,
            precision: 0,
            splitNumber: 10,
            axisLine: {
            show: true,
            lineStyle: {
              color: [
              [0.2, 'lightgreen'],
              [0.4, 'orange'],
              [0.8, 'skyblue'],
              [1, '#ff4500']
              ],
              width: 30
            }
            },
            axisTick: {
            show: true,
            splitNumber: 5,
            length: 8,
            lineStyle: {
              color: '#eee',
              width: 1,
              type: 'solid'
            }
            },
            axisLabel: {
            show: true,
            formatter: function(v) {
              switch (v + '') {
              case '10':
                return 'a';
              case '30':
                return 'b';
              case '60':
                return 'c';
              case '90':
                return 'd';
              default:
                return '';
              }
            },
            textStyle: {
              color: '#333'
            }
            },
            splitLine: {
            show: true,
            length: 30,
            lineStyle: {
              color: '#eee',
              width: 2,
              type: 'solid'
            }
            },
            pointer: {
            length: '80%',
            width: 8,
            color: 'auto'
            },
            title: {
            show: true,
            offsetCenter: ['-65%', -10],
            textStyle: {
              color: '#333',
              fontSize: 15
            }
            },
            detail: {
            show: true,
            backgroundColor: 'rgba(0,0,0,0)',
            borderWidth: 0,
            borderColor: '#ccc',
            width: 100,
            height: 40,
            offsetCenter: ['-60%', 10],
            formatter: '{value}%',
            textStyle: {
              color: 'auto',
              fontSize: 30
            }
            },
            data: [{
            value: 85,
            name: 'Desviación'
            }]
          }]
        });
        var echartPieCommit = echarts.init(document.getElementById('echart_pie_commit'), theme);
        echartPieCommit.setOption({
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          legend: {
            x: 'center',
            y: 'bottom',
            data: ['Criticidad Alta', 'Criticidad Media', 'Criticidad Baja']
          },        
          calculable: true,
          series: [{
            name: 'Total',
            type: 'pie',
            radius: '55%',
            center: ['50%', '50%'],
            data: [{
            value: getCommitmentUncomplishedBySeverityHigh,
            name: 'Criticidad Alta'
            }, {
            value: getCommitmentUncomplishedBySeverityMedium,
            name: 'Criticidad Media'
            }, {
            value: getCommitmentUncomplishedBySeverityLow,
            name: 'Criticidad Baja'
            }]
          }]
        });
        var echartPieMonit = echarts.init(document.getElementById('echart_pie_monit'), theme);
        echartPieMonit.setOption({
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
          },
          legend: {
            x: 'center',
            y: 'bottom',
            data: ['Criticidad Alta', 'Criticidad Media', 'Criticidad Baja']
          },        
          calculable: true,
          series: [{
            name: 'Total',
            type: 'pie',
            radius: '55%',
            center: ['50%', '48%'],
            data: [{
            value: 335,
            name: 'Criticidad Alta'
            }, {
            value: 310,
            name: 'Criticidad Media'
            }, {
            value: 234,
            name: 'Criticidad Baja'
            }]
          }]
        });
      }
      var changeStep = function(obj, context) {
        var isStepValid = true;
        if(!$('#frmstep' + context.fromStep).valid()){
          isStepValid = false;
        }
        return isStepValid;
      }
      var finishWizard = function(){
        var $form = $('<form />', { action: '/secure/initConfig', method: 'POST' });
        $("#frmstep1 :input").appendTo($form);
        $("#frmstep2 :input").appendTo($form);
        $("#frmstep3 :input").appendTo($form);
        $("#frmstep4 :input").appendTo($form);
        $form.appendTo('body');
        $('input').removeAttr('disabled');
        $form.submit();
      }
      var closewizard = function() {
        $('#close_wizard').modal('show');
      }