extends ../../layouts/layout_main.pug
block container
  .page-title
    .title_left
      h3 Tablero de Control
  .clearfix
  .row
    .col-md-12

  if session.user.firsttime == 1
    #config_init.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false',data-focus-on='input:first',style="display: none;")
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            a.close(href='logout')
              span(aria-hidden='true') &times;
            center 
              h4.modal-title Configuración de compromisos y monitoreo
          .modal-body
            #wizard.form_wizard.wizard_horizontal
              ul.wizard_steps(style='padding: 0px')
                li(style='width:25%')
                  a(href='#step-1')
                    span.step_no 1
                    span.step_descr
                      | Paso 1
                      //br
                      //small Encabezados
                li(style='width:25%')
                  a(href='#step-2')
                    span.step_no 2
                    span.step_descr
                      | Paso 2
                      //br
                      //small Dashboard
                li(style='width:25%')
                  a(href='#step-3')
                    span.step_no 3
                    span.step_descr
                      | Paso 3
                      //br
                      //small Tabla de compromisos
                li(style='width:25%')
                  a(href='#step-4')
                    span.step_no 4
                    span.step_descr
                      | Paso 4
                      //br
                      //small Tabla de monitoreo
              #step-1
                form#frmstep1.form-horizontal.form-label-left(action='/secure/initConfig', method='POST' )
                  span.section(style='color: #71859A') Paso 1 : Configuración de Compañía
                  .form-group
                    label.control-label.col-md-4.col-sm-3.col-xs-12(for='razonsocial')
                      | Titular *
                    .col-md-6.col-sm-7.col-xs-12
                      input#razonsocial.form-control.col-md-7.col-xs-12(type='text', required='required', name='razonsocial',value=session.user.companyname)
                  .form-group
                    label.control-label.col-md-4.col-sm-3.col-xs-12(for='unidadruc')
                      | Unidad *
                    .col-md-6.col-sm-7.col-xs-12
                      input#unidadinit.form-control.col-md-7.col-xs-12(type='text', required='required', name='unidadinit')
                  .form-group
                    .col-md-4.col-sm-3.col-xs-12
                    .col-md-6.col-sm-7.col-xs-12
                      input#multiunidad.flat(type='checkbox', value='Multiunidad', name='multiunidad')
                      |  
                      label(for='multiunidad',style='cursor: pointer') Varias Unidades
                  .form-group
                    label.control-label.col-md-4.col-sm-3.col-xs-12(for='proyoper')
                      |  Proyecto u Operación *
                    .col-md-6.col-sm-7.col-xs-12
                      input#proyoper.form-control.col-md-7.col-xs-12(type='text', name='proyoper')
                  .form-group
                    .col-md-4.col-sm-3.col-xs-12
                    .col-md-6.col-sm-7.col-xs-12
                      input#multiproyoper.flat(type='checkbox', value='Multiproyecto', name='multiproyoper')
                      |  
                      label(for='multiproyoper',style='cursor: pointer') Varias proyectos u operaciones
              #step-2
                form#frmstep2.frmstep1form-horizontal.form-label-left
                  span.section(style='color: #71859A') Paso 2 : Configuración inicial del Dashboard
                  center
                    table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                      each type, index in dashboard
                        if index % 4 == 0
                          tr
                          if index % 4 == 0
                            td
                              label(for=type.id,style='cursor: pointer') #{type.name}
                            td
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                        else
                          td
                            label(for=type.id,style='cursor: pointer') #{type.name}
                          td
                            input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
              #step-3
                form#frmstep3.form-horizontal.form-label-left
                  span.section(style='color: #71859A') Paso 3 : Configuración inicial de la tabla de compromisos
                  center
                    table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                      each type, index in commitment
                        if type.id != 'CM30' && type.id != 'CM31' && type.id != 'CM32' && type.id != 'CM33'
                          if index % 4 == 0
                            tr
                            if index % 4 == 0
                              td
                                label(for=type.id,style='cursor: pointer') #{type.name}
                              td
                                input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                          else
                            td
                              label(for=type.id,style='cursor: pointer') #{type.name}
                            td
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                    table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                      caption(width='60%' style='text-align:center;')
                        strong(style='color: #71859A') ETAPAS
                      each type, index in commitment
                        if type.id == 'CM30' || type.id == 'CM31'|| type.id == 'CM32'|| type.id == 'CM33'
                          if index+1 % 4 == 0
                            tr
                            if index+1 % 4 == 0
                              td
                                label(for=type.id,style='cursor: pointer') #{type.name}  
                              td
                                input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                          else
                            td
                              label(for=type.id,style='cursor: pointer') #{type.name} 
                            td
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
              #step-4
                form#frmstep4.form-horizontal.form-label-left
                  span.section(style='color: #71859A') Paso 4 : Configuración inicial de la tabla de monitoreo
                  center
                    table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                      each type, index in monitor
                        if type.id != 'MN28' && type.id != 'MN29' && type.id != 'MN30' && type.id != 'MN31'
                          if index % 4 == 0
                            tr
                            if index % 4 == 0
                              td
                                label(for=type.id,style='cursor: pointer') #{type.name}
                              td
                                input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                          else
                            td
                              label(for=type.id,style='cursor: pointer') #{type.name}
                            td
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                    table#datatable-responsive.table.dt-responsive.nowrap(cellspacing='0', width='80%')
                      caption(width='60%' style='text-align:center;')
                        strong(style='color: #71859A') ETAPAS
                      each type, index in monitor
                        if type.id == 'MN28' || type.id == 'MN29'|| type.id == 'MN30'|| type.id == 'MN31'
                          if index+1 % 4 == 04
                            tr
                            if index+1 % 4 == 0
                              td
                                label(for=type.id,style='cursor: pointer') #{type.name}  
                              td
                                input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                          else
                            td
                              label(for=type.id,style='cursor: pointer') #{type.name} 
                            td
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')

    script.
      window.onload = function() {
        var firsttime = '#{session.user.firsttime}';
        if (firsttime == 1) {
          $('#wizard').smartWizard({
            labelNext:'Siguiente',
            labelPrevious:'Anterior',
            labelFinish:'Finalizar',
            buttonOrder: ['prev', 'next', 'finish'],
            onFinish: finishWizard
          });
          $('.buttonNext').addClass('btn btn-success');
          $('.buttonPrevious').addClass('btn btn-primary');
          $('.buttonFinish').addClass('btn btn-default');
          $('#config_init').modal('show');
        }
      }
      var finishWizard = function(){
        var $form = $('<form />', { action: '/secure/initConfig', method: 'POST' });
        $("#frmstep1 :input").appendTo($form);
        $("#frmstep2 :input").appendTo($form);
        $("#frmstep3 :input").appendTo($form);
        $("#frmstep4 :input").appendTo($form);
        $form.appendTo('body');
        $form.submit();
      }
      var closewizard = function() {
        $('#close_wizard').modal('show');
      }