extends ../../layouts/layout_main.pug
block container
  .row
    .col-md-12
      .x_panel
        .x_title
          h2 Configuración de atributos
          .clearfix
        .x_content
          form.form-label-left(action='/secure/dashboardconfigattr', method='POST')
            each type, index in dashboard
              - var check = false
              if type.mandatory === 1
                if index % 4 === 0
                  | <div class="row">
                  .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                    input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                    input.flat(id=type.id,type='hidden', value=type.id, name='dashboard')
                  |  
                  label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                  if index === dashboard.length - 1
                    | </div>
                else
                  if index % 4 === 3
                    .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                      input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                      input.flat(id=type.id,type='hidden', value=type.id, name='dashboard')
                    |  
                    label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                    | </div>
                  else
                    .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                      input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                      input.flat(id=type.id,type='hidden', value=type.id, name='dashboard')
                    |  
                    label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                    if index === dashboard.length - 1
                      | </div>
              else
                if index % 4 === 0
                  | <div class="row">
                  .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                    each config in dashboardconfig
                      if type.id == config.t_dashboard_config_id
                        - check = true
                        - break
                    if check == true
                      input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked)
                    else
                      input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                  |  
                  label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer') #{type.name}
                  if index === dashboard.length - 1
                    | </div>
                else
                  if index % 4 === 3
                    .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                      each config in dashboardconfig
                        if type.id == config.t_dashboard_config_id
                          - check = true
                          - break
                      if check == true
                        input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked)
                      else
                        input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                    |  
                    label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                    | </div>
                  else
                    .col-md-1.col-sm-1.col-xs-1(style='text-align: right')
                      each config in dashboardconfig
                        if type.id == config.t_dashboard_config_id
                          - check = true
                          - break
                      if check == true
                        input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked)
                      else
                        input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                    |  
                    label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                    if index === dashboard.length - 1
                      | </div>
            .ln_solid
            button.btn.btn-success(type='submit') Guardar
                  