extends ../layouts/layout_main.pug
block container
  .page-title
    //.right_col(role='main')
    // top tiles
    if session.user.firsttime != 1
      .page-title
        .title_left
          h3 Form Upload 
        .title_right
          .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
            .input-group
              input.form-control(type='text', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-default(type='button') Go!
      .clearfix
      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              h2 Dropzone multiple file uploader
              .clearfix
            .x_content

    if session.user.firsttime == 1
      #config_init.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false',data-focus-on='input:first',style="display: none;")
        .modal-dialog.modal-lg(role='document')
          .modal-content
            .modal-header
              a.close(href='logout')
                span(aria-hidden='true') &times;
              center 
                h4.modal-title Configuración de compromisos y monitoreo
            .modal-body
              #wizard.form_wizard.wizard_horizontal
                ul.wizard_steps(style='padding: 0px')
                  li(style='width:25%')
                    a(href='#step-1')
                      span.step_no 1
                      span.step_descr
                        | Paso 1
                        //br
                        //small Encabezados
                  li(style='width:25%')
                    a(href='#step-2')
                      span.step_no 2
                      span.step_descr
                        | Paso 2
                        //br
                        //small Dashboard
                  li(style='width:25%')
                    a(href='#step-3')
                      span.step_no 3
                      span.step_descr
                        | Paso 3
                        //br
                        //small Tabla de compromisos
                  li(style='width:25%')
                    a(href='#step-4')
                      span.step_no 4
                      span.step_descr
                        | Paso 4
                        //br
                        //small Tabla de monitoreo
                #step-1
                  form#frmstep1.form-horizontal.form-label-left(action='/secure/initConfig', method='POST' )
                    span.section(style='color: #71859A') Paso 1 : Configuración de Compañía
                    .form-group
                      label.control-label.col-md-4.col-sm-3.col-xs-12(for='razonsocial')
                        | Titular *
                      .col-md-6.col-sm-7.col-xs-12
                        input#razonsocial.form-control.col-md-7.col-xs-12(type='text', required='required', name='razonsocial',value=session.user.companyname)
                    .form-group
                      label.control-label.col-md-4.col-sm-3.col-xs-12(for='unidadruc')
                        | Unidad *
                      .col-md-6.col-sm-7.col-xs-12
                        input#unidadinit.form-control.col-md-7.col-xs-12(type='text', required='required', name='unidadinit')
                    .form-group
                      .col-md-4.col-sm-3.col-xs-12
                      .col-md-6.col-sm-7.col-xs-12
                        input#multiunidad.flat(type='checkbox', value='Multiunidad', name='multiunidad')
                        |  
                        label(for='multiunidad',style='cursor: pointer') Varias Unidades
                    .form-group
                      label.control-label.col-md-4.col-sm-3.col-xs-12(for='proyoper')
                        |  Proyecto u Operación *
                      .col-md-6.col-sm-7.col-xs-12
                        input#proyoper.form-control.col-md-7.col-xs-12(type='text', name='proyoper')
                    .form-group
                      .col-md-4.col-sm-3.col-xs-12
                      .col-md-6.col-sm-7.col-xs-12
                        input#multiproyoper.flat(type='checkbox', value='Multiproyecto', name='multiproyoper')
                        |  
                        label(for='multiproyoper',style='cursor: pointer') Varios proyectos u operaciones
                #step-2
                  form#frmstep2.frmstep1form-horizontal.form-label-left
                    span.section(style='color: #71859A') Paso 2 : Configuración inicial del Dashboard
                    each type, index in dashboard
                      if type.mandatory === 1
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === dashboard.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === dashboard.length - 1
                              | </div>
                      else
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer') #{type.name}
                          if index === dashboard.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='dashboard;min-height:30px')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === dashboard.length - 1
                              | </div>
                #step-3
                  form#frmstep3.form-label-left
                    span.section(style='color: #71859A') Paso 3 : Configuración inicial de la tabla de compromisos
                    each type, index in commitment
                      if type.mandatory === 1
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos', checked='checked', disabled='disabled')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === commitment.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === commitment.length - 1
                              | </div>
                      else
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === commitment.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')
                              
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='compromisos')

                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === commitment.length - 1
                              | </div>
                #step-4
                  form#frmstep4.form-label-left
                    span.section(style='color: #71859A') Paso 4 : Configuración inicial de la tabla de monitoreo
                    each type, index in monitor
                      if type.mandatory === 1
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo', checked='checked', disabled='disabled')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === monitor.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo', checked='checked', disabled='disabled')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === monitor.length - 1
                              | </div>
                      else
                        if index % 4 === 0
                          | <div class="row" style="width:99%">
                          .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                            input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                          |  
                          label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                          if index === monitor.length - 1
                            | </div>
                        else
                          if index % 4 === 3
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            | </div>
                          else
                            .col-md-1.col-sm-1.col-xs-1(style='text-align: right;min-height:30px')
                              input.flat(id=type.id,type='checkbox', value=type.id, name='monitoreo')
                            |  
                            label.control-label.col-md-2.col-sm-5.col-xs-11(for=type.id,style='cursor: pointer;min-height:30px') #{type.name}
                            if index === monitor.length - 1
                              | </div>
 
    script.
      window.onload = function() {
        var firsttime = '#{session.user.firsttime}';
        if (firsttime == 1) {
          $('#wizard').smartWizard({
            labelNext:'Siguiente',
            labelPrevious:'Anterior',
            labelFinish:'Finalizar',
            buttonOrder: ['prev', 'next', 'finish'],
            onLeaveStep: changeStep,
            onFinish: finishWizard
          });
          $('.buttonNext').addClass('btn btn-success');
          $('.buttonPrevious').addClass('btn btn-primary');
          $('.buttonFinish').addClass('btn btn-default');
          $('#config_init').modal('show');
        }
        $('#multiunidad').on('ifChecked',function(){
          $('#unidadinit').val($(this).val()).addClass('disabled').attr('disabled',true);
        });
        $('#multiunidad').on('ifUnchecked',function(){
          $('#unidadinit').val('').removeClass('disabled').attr('disabled',false);
        });

        $('#multiproyoper').on('ifChecked',function(){
          $('#proyoper').val($(this).val()).addClass('disabled').attr('disabled',true);
        });
        $('#multiproyoper').on('ifUnchecked',function(){
          $('#proyoper').val('').removeClass('disabled').attr('disabled',false);
        });
      }
      var changeStep = function(obj, context) {
        var isStepValid = true;
        if(!$('#frmstep' + context.fromStep).valid()){
          isStepValid = false;
        }
        return isStepValid;
      }
      var finishWizard = function(){
        var $form = $('<form />', { action: '/secure/initConfig', method: 'POST' });
        $("#frmstep1 :input").appendTo($form);
        $("#frmstep2 :input").appendTo($form);
        $("#frmstep3 :input").appendTo($form);
        $("#frmstep4 :input").appendTo($form);
        $form.appendTo('body');
        $('input').removeAttr('disabled');
        $form.submit();
      }
      var closewizard = function() {
        $('#close_wizard').modal('show');
      }